.article__blockquote {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 34px 24px 24px;
    border-radius: 16px;
    gap: 8px;
    background: rgba(243, 247, 254, 1);
    position: relative;
}

.article__blockquote__text {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
}

.article__blockquote__author {
    font-size: 16px;
    font-weight: 700;
}