@import 'article';
@import 'aside';
@import 'main-bottom';

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.main__nav {
    width: 100%;
    margin: 16px 0 54px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.main__nav__item {
    font-size: 12px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.7);
}

.main__nav__item:nth-child(5) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1199px) {
    .main-container {
        width: 960px;
    }
}

@media (max-width: 959px) {
    .main-container {
        width: 728px;
    }

}

@media (max-width: 727px) {
    .main-container {
        width: 374px;
    }

    .main__nav {
        width: 100%;
        margin: 16px 0 16px;
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
}

@media (max-width: 373px) {
    .main-container {
        width: 288px;
        gap: 16px;
    }
}

